.ins{
    width: 325px;
    height: 321px;
    background: rgba(116, 116, 116, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width:375px){
        scale: 0.8;
    }
    
    @media (max-width:325px){
        scale: 0.8;
    }

    p{
        font-family: Inter-Light;
        width: 90%;
        font-size: 21px;
        text-align: center;
        letter-spacing: -0.03em;
        color: #FFFFFF;
        font-weight: 550;
        
        @media (max-width:375px){
            scale: 0.95;
        }
        
        @media (max-width:325px){
            scale: 0.88;
        }
    }
}

// button
.button {
    width: 315px;
    height: 70px;
    background: rgba(116, 116, 116, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    // font
    font-family: "Inter",Helvetica;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #ffffff;
  
    // transition
    transition: 1s;
  
    &:hover {
      border: 1px solid rgba(255, 255, 255, 0.8);
      transform: translateY(-3px);
    }
  
    @media (max-width:375px){
      scale: 0.8;
    }
  
    @media (max-width:325px){
      scale: 0.8;
      margin-top: 5%;
    }
  }