.mainContainer{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    //Unselectable
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.spline{
    position: absolute;
    margin: 0;
    margin-left: 22.5vw;

    @media (max-width: 1700px){
        margin-left: 17.5vw;
    }

    @media (max-width: 1500px){
        transform: scale(0.9);
        margin-left: 14.5vw;
    }

    @media (max-width: 1300px){
        transform: scale(0.8);
        margin-left: 7.5vw;
    }

    @media (max-width: 1150px){
        margin-left: 0vw;
    }

    @media (max-width: 950px){
        transform: scale(0.7);
        margin-left: -15vw;
    }

    @media (max-width: 850px){
        transform: scale(0.7);
        margin-left: -25vw;
    }

    @media (max-width: 750px){
        transform: scale(0.7);
        margin-left: -30vw;
    }


    @media (max-width: 650px){
        transform: scale(0.7);
        margin-left: -45vw;
    }

    @media (max-width: 375px){
        margin-top: -50%;
        transform: scale(0.9);
        margin-left: -105vw;
    }
}