.mainContainer {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  //Unselectable
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.spline {
  position: absolute;
  margin: 0;
  transition: 0.3s ease-in-out;

  @media (max-width: 1700px) {
    scale: (0.9);
  }

  @media (max-width: 1500px) {
    transform: scale(0.8);
  }

  @media (max-width: 1300px) {
    transform: scale(0.7);
  }

  @media (max-width: 1150px) {
  }

  @media (max-width: 950px) {
    transform: scale(0.65);
  }

  @media (max-width: 850px) {
    transform: scale(0.6);
  }

  @media (max-width: 750px) {
    transform: scale(0.55);
  }

  @media (max-width: 650px) {
    transform: scale(0.5);
  }

  @media (max-width: 375px) {
    margin-top: -50%;
    transform: scale(0.45);
  }
}

// containers
.wrapper {
  height: 85%;
  width: 100%;
  z-index: 999;
}
