.options {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: space-around;
  gap: 71px;
  margin-top: -150px;
}

.timerIcon {
  width: 45px;
  height: 45px;
  //background: url("../../assets/timer_1s.svg");
}
